body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fddde6;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fddde6;
    color: #800020;
}

.logo img {
    width: 350px;
    margin-right: 10px;
    padding: 10px 50px;
}

nav ul {
    position: static;
    list-style: none;
    margin: 0 160px;
    padding: 0;
    display: flex;
    gap: 20px; /* Added to create space between the links */
}

nav ul li {
    margin: 0;
}

nav ul li a {
    font-size: 100%;
    color: #B00B1C;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 40px;
    border: 2px solid #B00B1C;
    border-radius: 20px;
    background-color: #fddde6;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #B00B1C;
    color: white;
}
.mission-vision {
    position: relative;
    padding: 40px;
    color: white;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-size: 2em;
    margin: 0 0 0 10px;
    color: #B00B1C;
}

.mission {
    background-color: rgba(128, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
    max-width: 800px;
}

.mission p {
    margin: 0;
    font-size: 1em;
}

.students-image {
    position: absolute;
    top: 190%;
    right: 50%;
    width: 40%;
    transform: translateY(-50%);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


@media (max-width: 768px) {
    .students-image {
        width: 60%;
        right: 5%;
    }
}
